<div class="entry">
    <img src="{{type.image}}" width="30" height="30" alt=""></img>
    <p>{{date.long}}</p>
    <a href="/aktuelles/aktuelle-eins%C3%A4tze/#{{date.short}}">{{type.letter}}{{type.level}}: {{report.short}}</a>
    <p>{{location}}</p>
</div>